.cardgestao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    box-shadow: 0 0 10px 3px rgb(236, 231, 231);
    border-radius: 8px;
    transition: .5s;
    
    padding: 10px;
}

.cardgestao1 .boximg {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardgestao1 .boximg span {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    background-color: #141A46;
}

.cardgestao1 h5 {
    color: #141A46;
    text-align: center;
    font-size: 20px;
}

.cardgestao1 p {
    text-align:justify;
    padding: 10px;
}